.about--title {
  border-top: 3px black solid;
  font-family: 'Source Code Pro', monospace;
  font-size: 2rem;
}

.description-container {
  margin: 0 $base-vw;
}

.my-description {
  line-height: 1.875rem;
}
.my-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
}