.about--title {
  border-top: 3px black solid;
  font-family: 'Source Code Pro', monospace;
  font-size: 2rem;
}
.description-container {
  margin: 2.5*$s-size $base-vw;
}
.my-description {
  line-height: 1.875rem;
}
.my-image {
  width: 100%;
}