@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro&display=swap');

.home--content {
  width: 100%;
  text-align: center;
}

.name-on-screen {
  font-family: 'Source Code Pro', monospace;
  font-size: 3*$l-size;
  margin-top: 3*$s-height;
}